{% extends 'showroom/base.html' %}

{% block title %} {{ brand.name }} {% endblock %}

{% block content %}
{% if models %}
  <ul class="flexbox">
    {% for model in models %}
    <div class="card mb-2" style="width: 18rem;">
      <img src="{{ model.car_pic.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ model.name }}</h5>
        <p class="card-text"><strong>Engine:</strong> {{ model.engine }}</p>
        {% if model.feature.all %}
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  View features
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
              </div>
            </div>
            {% for f in model.feature.all %}
            {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
